<div class="main">
    <h1> Add New Vehicle  Type </h1>
</div>
<form [formGroup]="AddTypeFormGroup" class="form-container">
    <mat-card>
        <mat-card-content>
            <div class="row">
                <mat-form-field appearance="standard">
                    <input matInput placeholder="Vehicle Brand Name" name="Name"
                        formControlName="Description">
                        <mat-error *ngIf="hasError('Description', 'required')">Description is required</mat-error>
                        <mat-error *ngIf="hasError('Description', 'pattern')">Enter Description with letters only</mat-error>
                        <mat-error *ngIf="hasError('Description', 'maxlength')">25 characters maximum</mat-error>
                </mat-form-field>
            </div>
            <div class="btn">
                <button mat-raised-button color="primary" type="button" (click)="AddBVehicleType()"
                    [disabled]="!AddTypeFormGroup.valid">Add
                </button>
                &nbsp;
                <button (click)="back()" mat-raised-button color="warn">back</button>
            </div>

        </mat-card-content>

    </mat-card>
</form>