<app-header></app-header>

<div class="main">

    <h1>Add New Vehicle Type</h1>

<form [formGroup]="vehicleTypeFrm" class="addVehicleT">
    <mat-card>
      
        <mat-card-content>
            <div class="row">
                <mat-form-field appearance="standard">
                    <input [(ngModel)]='Description' matInput placeholder="Vehicle Type Name" name="Description"
                        formControlName="Description">

                        <mat-error *ngIf="hasError('Description', 'required')">Name is required</mat-error>
                        <mat-error *ngIf="hasError('Description', 'pattern')">Please enter a letter only name</mat-error>
                        <mat-error *ngIf="hasError('Description', 'maxlength')">15 Characters
                            maximum
                            is required for a type</mat-error>
                </mat-form-field>

                <div class="btn">
                    <button mat-raised-button color="primary" type="button" (click)="addVehicleT()"
                        [disabled]="!vehicleTypeFrm.valid">Add
                    </button>
                    &nbsp;
                    <button mat-raised-button color="warn" type="button" (click)="back()">Back</button>
                </div>
                
               
            </div>
        </mat-card-content>
    </mat-card>
</form>

</div>

