<app-header></app-header>

<h1 style="text-align: center;">Update User</h1>
<div class="container">
  <form action="action_page.php"  >
    <label for="subject">Select User Roles</label>
    <select id="country"  formControlName="userRole">
      <option *ngFor="let item of data"  [value]="item.userrole1"> {{item.description}}</option>

    </select>
    <label for="subject">Select Employee</label>
    <select id="country" formControlName="employeeId" >
      <option *ngFor="let item of employee"  [value]="item.employeeId"> {{item.name}}</option>

    </select>
    <label for="subject">Username</label>
    <textarea id="subject" formControlName="userName" placeholder="username"></textarea>

    <label for="subject">password</label>
    <textarea id="subject"  formControlName="userPassword"  name="password" placeholder="password"></textarea>

    <input type="button" value="Submit">

  </form>
</div>

