


<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success !</strong> Material Type Updated Successfully
    <button mat-button color="warn" (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
        <mat-icon>close</mat-icon>
    </button>
</div>

<form [formGroup]="materialTypeFrm" class="form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Update Material Type</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <mat-form-field class="full-width">
                    <input [(ngModel)]='Name1' matInput placeholder="Material Type Name" name="Name"
                        formControlName="Name">
                </mat-form-field>
                <mat-error *ngIf="hasError('Name', 'required')"></mat-error>
                <mat-form-field class="full-width">
                    <input [(ngModel)]='Description1' matInput placeholder="Material Type Description" name="Description"
                        formControlName="Description">
                </mat-form-field>
                <mat-error *ngIf="hasError('Description', 'required')"></mat-error>
                <mat-card-actions>
                    <button (click)="updateMaterialT()" mat-raised-button color="primary">Update</button>
                </mat-card-actions>
            </div>
        </mat-card-content>
    </mat-card>
</form>