
<button class="btnBack" mat-raised-button color="warn" routerLink="/home">Back</button>

<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success !</strong> Warehouse Added Successfully
    <button mat-button color="warn" (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
        <mat-icon>close</mat-icon>
    </button>
</div>

<form [formGroup]="form" class="form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Add Warehouse</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="row">
                <mat-form-field class="full-width">
                    <mat-label>Name</mat-label>
                    <input matInput  placeholder="Enter Name" #nameInput  formControlName="name">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput placeholder="Address/Location" #nameInput  formControlName="description">
                </mat-form-field>

                <mat-card-actions>
                    <button (click)="addWarehouse()" mat-raised-button color="primary">Add</button>
                    <button (click)="back()" mat-raised-button color="warn">back</button>
                </mat-card-actions>
            </div>
        </mat-card-content>
    </mat-card>
</form>
