



<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success !</strong> Equipment Added Successfully
    <button mat-button color="warn" (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
        <mat-icon>close</mat-icon>
    </button>
</div>

 <form [formGroup]="form" class="form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Add Equipment</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="row">
                <mat-form-field appearance="standard">
                    <mat-label>Name</mat-label>
                    <input matInput  placeholder="Type name" #nameInput  formControlName="name">
                    <mat-error>Name is required</mat-error>
                </mat-form-field>
        
           
                <mat-form-field appearance="standard">
                    <mat-label>Description</mat-label>
                    <input matInput  placeholder="Enter description" #nameInput  formControlName="description">
                    <mat-error>Description is required</mat-error>
                </mat-form-field>
           
           
                <mat-form-field class="full-width">
                    <mat-label>Select  Warehouse </mat-label>
                    <mat-select formControlName="warehouseId" multiple>
                        <mat-option *ngFor="let type of WarehouseTypes" [value]="type.name">
                            {{type.name}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
                
                <mat-form-field appearance="standard">
                    <mat-label>Quantity</mat-label>
                    <input type="number" min="1" max="1000" matInput  #nameInput  formControlName="quantity">
                    <mat-error>Quantity is required</mat-error>
                </mat-form-field>
                <mat-card-actions>
                    <button (click)="addEquipment()" mat-raised-button color="primary">Add</button>
                    <button (click)="back()" mat-raised-button color="warn">back</button>
                </mat-card-actions>
            </div>
        </mat-card-content>
    </mat-card>
</form>