
<div>
    <mat-card>
        <mat-header>
            Update safety Item
        </mat-header>
    </mat-card>

    <br>
    <form [formGroup]="updateForm" class="form-container">
        <mat-card-content>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput  placeholder=" update Item Name" formControlName="name">
                <mat-error>Name is required</mat-error>
            </mat-form-field>
        </mat-card-content>

        <button mat-stroked-button color="primary" class="btn-block" (click)="UpdateItem(this.data.id)">Update Safety Item </button>
    </form>
</div>

