table {
    width: 100%;
  }


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;

  font-size: 30px;
  position: fixed;
  left: 95%;
  bottom: 76%;
}
.form-container{
    margin: auto;
    max-width: 700px;
    padding: 10px;
    border-radius: 4px;
    background-color: lightgray;
}

