table {
    width: 100%;
  }


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;

  font-size: 40px;
  size: 10px;
  position: relative;
  left: 82%;
  bottom: 10px
}
