.form-container {
  margin: auto;
  max-width: 700px;
  padding: 10px;
  border-radius: 4px;
  background-color: lightgray;
}

h1{
  position: relative;
  left: 35%;
}

form {
  background-color: rgb(255, 255, 255);
}

.btnBack {
  position: sticky;
  left: 70%;
  top: 54%;
}

.main {
  position: absolute;
  width: 50%;
  left: 25%;
  border: solid;
  border-style: groove;
}

.btn{
  left: 25%
}