<app-header></app-header>

<div class="main">

    <h1>Update Supplier Type</h1>

    <form [formGroup]="supplierTypeFrm" class="addSupplier">
        <div class="row">
            <mat-form-field class="standard">
                <mat-label>Type Name</mat-label>
                <input matInput placeholder="Candy Corp" name="Name" #nameInput formControlName="Name">
                <mat-error *ngIf="formdet['Name'].touched && formdet['Name'].invalid">
                    <mat-error *ngIf="formdet['Name'].errors?.['required'] && formdet['Name'].dirty">Name is required
                    </mat-error>
                    <mat-error *ngIf="formdet['Name'].errors?.['pattern'] && formdet['Name'].dirty">Please enter a
                        letter
                        only name</mat-error>
                    <mat-error *ngIf="formdet['Name'].errors?.['maxlength'] && formdet['Name'].dirty">15 Characters
                        maximum
                        is required for a type</mat-error>
                </mat-error>
            </mat-form-field>

            <div class="btn">
                <button mat-raised-button color="primary" type="button" (click)="updateSupplierT()"
                    [disabled]="!supplierTypeFrm.valid">Update
                </button>
                &nbsp;
                <button mat-raised-button color="warn" type="button" (click)="back()">Back</button>
            </div>
        </div>
    </form>

</div>