table {
    width: 100%;
  }

  .calendar{
    width: 56%;
  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;

  font-size: 30px;
  left: 95%;
  bottom: 70%;
}
h3 {
  margin: 0 0 10px;
}
pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.calendarcard{
  width: 100% ;
  color: blue;
  padding: 30px;

}
.calendar{
  width: 56%;
}

.Incidentbtn{
background: green;
}


