<app-header></app-header>

<mat-grid-list cols="4" rowHeight="1:1" [gutterSize]="'10px'">
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Employees</mat-card-title>

            </mat-card-header>
            <img mat-card-image src="./../../assets/images/employees.jpg">

            <mat-card-actions>
                <button (click)="employee()" mat-button>Employees</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Users</mat-card-title>

            </mat-card-header>
            <img mat-card-image src="./../../assets/images/users.jpg">

            <mat-card-actions>
                <button (click)="user()" mat-button>Users</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Materials</mat-card-title>

            </mat-card-header>
            <img mat-card-image src="./../../assets/images/material.jpg">

            <mat-card-actions>
                <button (click)="material()" mat-button>Materials</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Suppliers</mat-card-title>

            </mat-card-header>
            <img mat-card-image src="./../../assets/images/supplier.jpg">

            <mat-card-actions>
                <button (click)="supplier()" mat-button>Suppliers</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Vehicles</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="./../../assets/images/Vehicles.jpg">

            <mat-card-actions>
                <button (click)="vehicle()" mat-button>Vehicles</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        6
    </mat-grid-tile>
</mat-grid-list>