<app-header></app-header>

<mat-grid-list cols="4" rowHeight="1:1" [gutterSize]="'10px'">
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Employees</mat-card-title>

            </mat-card-header>
            <img mat-card-image src="./../../assets/images/employees.jpg">

            <mat-card-actions>
                <button (click)="employee()" mat-button>Employees</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Users</mat-card-title>

            </mat-card-header>
            <img mat-card-image src="./../../assets/images/users.jpg">

            <mat-card-actions>
                <button (click)="user()" mat-button>Users</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Materials</mat-card-title>

            </mat-card-header>
            <img mat-card-image src="./../../assets/images/material.jpg">

            <mat-card-actions>
                <button (click)="material()" mat-button>Materials</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Suppliers</mat-card-title>

            </mat-card-header>
            <img mat-card-image src="./../../assets/images/supplier.jpg">

            <mat-card-actions>
                <button (click)="supplier()" mat-button>Suppliers</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Vehicles</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="./../../assets/images/Vehicles.jpg">

            <mat-card-actions>
                <button (click)="vehicle()" mat-button>Vehicles</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Incidents</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="./../../assets/images/incident.jpg">

            <mat-card-actions>
                <button (click)="incident()" mat-button>Incidents</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Projects</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="./../../assets/images/projects.jpg">

            <mat-card-actions>
                <button (click)="projects()" mat-button>Projects</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Clients</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="./../../assets/images/clients.jpg">

            <mat-card-actions>
                <button (click)="clients()" mat-button>Clients</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Warehouse</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="./../../assets/images/warehouse.jpg">

            <mat-card-actions>
                <button (click)="warehouses()" mat-button>Warehouse</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Equipment</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="./../../assets/images/equipment.jpg">

            <mat-card-actions>
                <button (click)="equipment()" mat-button>Equipment</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="example-card">
          <mat-card-header>
              <mat-card-title>Reports</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="./../../assets/images/equipment.jpg">

          <mat-card-actions>
              <button (click)="reports()" mat-button>Reports</button>
          </mat-card-actions>
      </mat-card>
  </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Safty Checklist</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="./../../assets/images/safty.jpg">

            <mat-card-actions>
                <button (click)="saftyCheclist()" mat-button>Safty Checklist</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Reports</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="./../../assets/images/report.png">
            <mat-card-actions>
                 <button (click)="Reports()" mat-button>Reporting</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
            <img mat-card-image src="./../../assets/images/reports.jpg">

            <mat-card-actions>
                <button (click)="reports()" mat-button>Reports</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>


    <mat-grid-tile>
      <mat-card class="example-card">
          <mat-card-header>
              <mat-card-title>Safty Checklist</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="./../../assets/images/safty.jpg">

          <mat-card-actions>
              <button (click)="saftyCheclist()" mat-button>Safty Checklist</button>
          </mat-card-actions>
      </mat-card>
  </mat-grid-tile>
</mat-grid-list>
