

<button class="btnBack" mat-raised-button color="warn" routerLink="/user">Back</button>

<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success !</strong> New User Account  Registered Successfully
    <button mat-button color="warn" (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
        <mat-icon>close</mat-icon>
    </button>
</div>
<form [formGroup]="addForm" class="form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Register New User Account</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <mat-form-field class="full-width">
                    <mat-label>Select  Employee</mat-label>
                    <mat-select formControlName="employeeId">
                        <mat-option *ngFor="let type of employeeList" [value]="type.employeeId">
                            {{type.name}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>UserName</mat-label>
                    <input matInput  placeholder="Enter userName" #nameInput  formControlName="username">
                     <!--     <mat-error>Name is required</mat-error> -->
                </mat-form-field>

                <mat-form-field class="full-width">
                  <mat-label>Select  Role</mat-label>
                  <mat-select formControlName=" userRoleId">
                      <mat-option *ngFor="let type of roleList" [value]="type.description">
                          {{type.description}}
                      </mat-option>
                    </mat-select>
              </mat-form-field>

                <mat-card-actions>
                    <button (click)="addUser()" mat-raised-button color="primary">Add</button>
                    <button (click)="back()" mat-raised-button color="warn">back</button>
                </mat-card-actions>
            </div>
        </mat-card-content>
    </mat-card>
</form>