<app-header></app-header>

<div class="main">

    <h1>Update Vehicle</h1>

    <form [formGroup]="updateForm" class="form" (ngSubmit)="onSubmit">

        <div class="row">
            <mat-form-field appearance="standard">
                <mat-label> Vehicle type</mat-label>
                <mat-select formControlName="vehicletypeId">
                    <mat-option *ngFor="let type of Vehicletypes" [value]="type.id">
                        {{type.description}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field appearance="standard">
                <mat-label>Make</mat-label>
                <input matInput placeholder="Input Make name" #nameInput formControlName="make">
                <mat-error *ngIf="hasError('make', 'required')">Make is required</mat-error>
                <mat-error *ngIf="hasError('make', 'pattern')">Enter letters only</mat-error>
            </mat-form-field>
   
            <mat-form-field appearance="standard">
                <mat-label>Model</mat-label>
                <input matInput placeholder="Type  Model name" #nameInput formControlName="model">
                <mat-error *ngIf="hasError('model', 'required')">Model is required</mat-error>
                <mat-error *ngIf="hasError('model', 'pattern')">Enter letters only </mat-error>
            </mat-form-field>
       
            <mat-form-field appearance="standard">
                <mat-label>Vehicle Color</mat-label>
                <input matInput placeholder="Color" #nameInput formControlName="color">
                <mat-error *ngIf="hasError('color', 'required')">Color is required</mat-error>
                <mat-error *ngIf="hasError('color', 'pattern')">Enter letters only</mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label> Vehicle Model Year Date</mat-label>
                <input matInput formControlName="modelYear" [matDatepicker]="modelYearPicker"
                    (click)="modelYearPicker.open()">
                <mat-datepicker-toggle matSuffix [for]="modelYearPicker"></mat-datepicker-toggle>
                <mat-datepicker #modelYearPicker color="warn"></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Date Purchased</mat-label>
                <input matInput formControlName="datePurchased" [matDatepicker]="modelDatePurchasedPicker"
                    (click)="modelDatePurchasedPicker.open()">
                <mat-datepicker-toggle matSuffix [for]="modelDatePurchasedPicker"></mat-datepicker-toggle>
                <mat-datepicker #modelDatePurchasedPicker color="warn"></mat-datepicker>
            </mat-form-field>
 
        <mat-form-field appearance="outline">
            <mat-label>Last Serviced Date</mat-label>
            <input matInput formControlName="lastServiced" [matDatepicker]="modelLastServicedPicker"
                (click)="modelLastServicedPicker.open()">
            <mat-datepicker-toggle matSuffix [for]="modelLastServicedPicker"></mat-datepicker-toggle>
            <mat-datepicker #modelLastServicedPicker color="warn"></mat-datepicker>
        </mat-form-field>

        <div class="btn">
            <mat-card-actions>
                <button mat-raised-button color="primary" [disabled]="!updateForm.valid">Update</button>
                &nbsp;
                <button (click)="Cancel()" mat-raised-button color="warn">Back</button>
            </mat-card-actions>

        </div>

    </div>

    </form>
    

</div>