<app-header></app-header>
<div class="main">
    <h1>Update Vehicle</h1>
    <form [formGroup]="updateForm" class="form" (ngSubmit)="onSubmit">
        <div class="row">
            <mat-form-field appearance="standard">
                <mat-label> Select Vehicle Type</mat-label>
                <mat-select formControlName="vehicletypeId">
                    <mat-option *ngFor="let type of Vehicletypes" [value]="type.id" (click)="getTypeByMake(type.id)">
                        {{type.description}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="hasError('vehicletypeId', 'required')">Vehicle Type Name is required
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label> Vehicle Brands </mat-label>
                <mat-select formControlName="brandId">
                    <mat-option *ngFor="let type of VehicleBrandlist" [value]="type.id"  (click)="getModelsByBrand(type.id)">
                        {{type.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="hasError('brandId', 'required')">Vehicle Make is required
                </mat-error>
            </mat-form-field>
           
            <mat-form-field appearance="standard">
                <mat-label> Vehicle Models</mat-label>
                <mat-select formControlName="modelId">
                    <mat-option *ngFor="let type of VehicleModellist" [value]="type.id">
                        {{type.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="hasError('modelId', 'required')">Vehicle Type Name is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard">
                <mat-label>Date Purchased</mat-label>
                <input matInput formControlName="datePurchased" [matDatepicker]="modelDatePurchasedPicker"
                    (click)="modelDatePurchasedPicker.open()">
                <mat-datepicker-toggle matSuffix [for]="modelDatePurchasedPicker"></mat-datepicker-toggle>
                <mat-datepicker #modelDatePurchasedPicker color="warn"></mat-datepicker>
                <mat-error *ngIf="hasError('datePurchased', 'required')">Date Purchased is required</mat-error>
            </mat-form-field>
        <div class="btn">
            <mat-card-actions>
                <button mat-raised-button color="primary" [disabled]="!updateForm.valid">Update</button>
                &nbsp;
                <button (click)="Cancel()" mat-raised-button color="warn">Back</button>
            </mat-card-actions>

        </div>

    </div>

    </form>
    

</div>