<app-header></app-header>


<div class="main">

    <h1> Add New Material Type</h1>

<form [formGroup]="materialTypeFrm" class="addMaterialT">
    <mat-card>
        
        <mat-card-content>
            <div class="row">

                <mat-form-field appearance="standard">
                    <input [(ngModel)]='Name' matInput placeholder="Material Type Name" name="Name"
                        formControlName="Name">

                        <mat-error *ngIf="hasError('Name', 'required')">Name is required</mat-error>
                        <mat-error *ngIf="hasError('Name', 'pattern')">Please enter a letter only name</mat-error>
                        <mat-error *ngIf="hasError('Name', 'maxlength')">25 Characters maximum is required for a full name</mat-error>
                </mat-form-field>

               

                <mat-form-field appearance="standard">
                    <input [(ngModel)]='Description' matInput placeholder="Material Type Description" name="Description"
                        formControlName="Description">

                        <mat-error *ngIf="hasError('Description', 'required')">Description is required</mat-error>
                        <mat-error *ngIf="hasError('Description', 'maxlength')">50 Characters maximum is required for a full name</mat-error>
                </mat-form-field>

                

                <div class="btn">
                    <button mat-raised-button color="primary" type="button" (click)="addMaterialT()" [disabled]="!materialTypeFrm.valid">Add
                    </button>
                    &nbsp;
                    <button mat-raised-button color="warn" type="button" (click)="back()">Back</button>
                  </div>

            </div>
        </mat-card-content>
    </mat-card>
</form>
</div>