<app-header></app-header>

<button class="btnBack" mat-raised-button color="warn" routerLink="/material">Back</button>

<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success !</strong> Material Added Successfully
    <button mat-button color="warn" (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
        <mat-icon>close</mat-icon>
    </button>
</div>
<form [formGroup]="SafetyCategoryFrm" class="form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Add Material Type</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <mat-form-field class="full-width">
                    <input [(ngModel)]='categoryName' matInput placeholder="Category Type Name" name="categoryName"
                        formControlName="categoryName">
                </mat-form-field>
                <mat-error *ngIf="hasError('categoryName', 'required')"></mat-error>
                <mat-card-actions>
                    <button (click)="addCategoryType()" mat-raised-button color="primary">Add</button>
                    <button (click)="back()" mat-raised-button color="warn">back</button>
                </mat-card-actions>
            </div>
        </mat-card-content>
    </mat-card>
</form>