
    <mat-card>
        <button mat-raised-button color="warn" routerLink="employee" >Back</button>
        </mat-card>
    
    
    <form  [formGroup]="employeeFrm" class="form-container">
        <mat-card>
            <mat-card-header>
                <mat-card-title class="align">Add Employee</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    

                        <div class="col-md-6">
                            <mat-form-field class="full-width">
                            <input [(ngModel)]='Name' matInput placeholder="Name" name="Name" type="text" formControlName="Name">
                            </mat-form-field>
                            <mat-error *ngIf="hasError('Name', 'required')"></mat-error>
                            
                        </div>

                        
                        <div class="col-md-6">
                            <mat-form-field class="full-width">
                            <input [(ngModel)]='Email' matInput placeholder="Email" name="Email" type="email" formControlName="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                            </mat-form-field>
                            <mat-error *ngIf="hasError('Email', 'required')"></mat-error>
                            <mat-error *ngIf="hasError('Email', 'pattern')">Enter valid email</mat-error>
                        </div>

                            
                        <div class="col-md-6">
                            <mat-form-field class="full-width">
                            <input [(ngModel)]='ContactNumber' matInput placeholder="Contact Number" name="ContactNumber" type="text" formControlName="ContactNumber">
                            </mat-form-field>
                            <mat-error *ngIf="hasError('ContactNumber', 'required')"></mat-error>
                            <mat-error *ngIf="hasError('ContactNumber', 'maxlength')">You have more than 10 characters</mat-error>
                            <mat-error *ngIf="hasError('ContactNumber', 'pattern')">Enter numbers only</mat-error>
                        </div>

                    

                    
    
                    <mat-card-actions>
                        <button (click)="addEmployee()" mat-raised-button color="primary">Add</button>
                    </mat-card-actions>
                </div>
    
                
    
    
            </mat-card-content>
    
            
    
               
    
        
    
        </mat-card>
    </form>
