
<button class="btnBack" mat-raised-button color="warn" routerLink="/employee">Back</button>
<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success !</strong> Material Added Successfully
    <button mat-button color="warn" (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
        <mat-icon>close</mat-icon>
    </button>
</div>

<form [formGroup]="employeeFrm" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Add Employee</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <mat-form-field class="full-width">
          <input [(ngModel)]='Name' matInput placeholder="Name" name="Name" type="text" formControlName="Name">
        </mat-form-field>
        <mat-error *ngIf="hasError('Name', 'required')"></mat-error>

        <mat-form-field class="full-width">
          <input [(ngModel)]='Email' matInput placeholder="Email" name="Email" type="email" formControlName="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
        </mat-form-field>
          <mat-error *ngIf="hasError('Email', 'required')"></mat-error>
          <mat-error *ngIf="hasError('Email', 'pattern')">Enter valid email</mat-error>

        <mat-form-field class="full-width">
          <input [(ngModel)]='ContactNumber' matInput placeholder="Contact Number" name="ContactNumber" type="text" formControlName="ContactNumber">
        </mat-form-field>
          <mat-error *ngIf="hasError('ContactNumber', 'required')"></mat-error>
          <mat-error *ngIf="hasError('ContactNumber', 'maxlength')">You have more than 10 characters</mat-error>
          <mat-error *ngIf="hasError('ContactNumber', 'pattern')">Enter numbers only</mat-error>
        
        <div class="button-side">
          <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;" accept=".pdf">   
          <button type="button" color='primary' mat-stroked-button matTooltipPosition="after" (click)="file.click()">
              Select file to upload
          </button>
            <span matTooltip="Accepted formats [.pdf,.zip]" class="help-icon">
              <mat-icon>help_outline</mat-icon>
            </span>
        </div>

        <div class="info-side">
          <span class="upload" *ngIf="progress > 0">
            {{progress}}%
          </span>
          <span class="upload" *ngIf="message">
            {{message}}
          </span>
          <span class="error-message" *ngIf="errorMessage">
            {{errorMessage}}
          </span>
        </div>
        <mat-card-actions>
          <button (click)="addEmployee()" mat-raised-button color="primary">Add</button>
      </mat-card-actions>
    </div>
  </mat-card-content>
</mat-card>
</form>
                
