<app-header></app-header>

<div class="main">

    <h1>Update Vehicle</h1>

    <form [formGroup]="updateForm" class="addSupplier" (ngSubmit)="onSubmit()">
        <div class="row">
            <mat-form-field appearance="standard">
                <mat-label>Description</mat-label>
                <input matInput placeholder="Jack Trade" #nameInput formControlName="description">
                <mat-error *ngIf="formdet['description'].touched && formdet['description'].invalid">
                    <mat-error *ngIf="formdet['description'].errors?.['required'] && formdet['description'].dirty">Description is required
                    </mat-error>
                    <mat-error *ngIf="formdet['description'].errors?.['maxlength'] && formdet['description'].dirty">40 Characters
                        maximum is required</mat-error>
                </mat-error>
            </mat-form-field>

            <div class="btn">
                <button mat-raised-button color="primary" [disabled]="!updateForm.valid">Update</button>
                &nbsp;
                <button mat-raised-button color="warn" type="button" (click)="back()">Back</button>
            </div>
            
        </div>
    </form>

</div>