<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Login</title>
    <link rel="stylesheet" href="./login.component.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
</head>

<body>
    <section class="login py-5">
        <div class="container">
            <div class="row g-0">
                <div class="col-lg-5">
                    <img src="../../assets/images/Logo.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-7 text-center py-5">
                    <h1>Welcome to IMOS</h1>
                    <br>

                    <form [formGroup]="loginForm" class="form-container">

                        <div class="example-container">

                            <mat-form-field appearance="standard" >
                                <mat-label>Enter your Username</mat-label>
                                <input matInput placeholder="example@gmail.com" formControlName="Username">
                            </mat-form-field>

                            <mat-form-field appearance="fill" >
                                <mat-label>Enter your Password</mat-label>
                                <input matInput matInput placeholder="password"  #nameInput  formControlName="Password">
            
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>

                            <br>
                            <button (click)="LogIn()" mat-raised-button
                                color="primary">Login</button>
                            &nbsp;
                            <button mat-raised-button color="primary">Forgot Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>