

<button class="btnBack" mat-raised-button color="warn" routerLink="/material">Back</button>

<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success !</strong> Material Added Successfully
    <button mat-button color="warn" (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
        <mat-icon>close</mat-icon>
    </button>
</div>

<form [formGroup]="materialFrm" class="form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Add Material</mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <div class="row">
                <mat-form-field class="full-width">
                    <mat-label>Select  Material Type</mat-label>
                    <mat-select formControlName="materialtypeId">
                        <mat-option *ngFor="let type of TypeList" [value]="type.name">
                            {{type.name}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Select Warehouse </mat-label>
                    <mat-select formControlName="warehouseId">
                        <mat-option *ngFor="let type of WarehouseTypes" [value]="type.name">
                            {{type.name}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Name</mat-label>
                    <input matInput  placeholder="Enter Name" #nameInput  formControlName="name">
                     <!--     <mat-error>Name is required</mat-error> -->
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput placeholder="Description" #nameInput  formControlName="description">
                    <!--                    <mat-error>Description is required</mat-error> -->
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Select Supplier</mat-label>
                    <mat-select formControlName="supplierId" multiple>
                     <mat-option *ngFor="let type of  SupplierList" [value]="type.name">
                        {{type.name}}
                    </mat-option>
                    </mat-select>
                </mat-form-field> 
                <mat-form-field appearance="standard">
                    <mat-label>Quantity</mat-label>
                    <input type="number" min="1" max="1000" matInput  #nameInput  formControlName="quantity">
                    <mat-error>Quantity is required</mat-error>
                </mat-form-field>


                <mat-card-actions>
                    <button (click)="AddMaterial()" mat-raised-button color="primary">Add</button>
                    <button (click)="back()" mat-raised-button color="warn">back</button>
                </mat-card-actions>
            </div>
        </mat-card-content>
    </mat-card>
</form>