<app-header></app-header>

<link rel="stylesheet"
    href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<h2 style="margin-left:45% ;">Construction Site </h2>

<!-- Material Type
<button (click)="materialType()" mat-flat-button color="primary" class="URbtn">Material Type</button>
<button (click)="materialRequest()" mat-flat-button color="primary" class="URbtn">Material Request</button>
<br> -->
<!-- Search Field -->
<mat-form-field appearance="standard">
  <mat-label>Search Table</mat-label>
  <input matInput placeholder="search" (keyup)="applyFilter($event)" #input />
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

<ng-container matColumnDef="Address">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Address  </th>
  <td mat-cell *matCellDef="let element"> {{element.address}} </td>
</ng-container>


<ng-container matColumnDef="actions">

<th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
          <button  mat-flat-button color="accent" (click)="openUpdateDialog(element.id)">Edit</button>
          &nbsp;
          <button mat-flat-button color="warn" (click)="deleteConstructionSite(element.id)">Delete</button>
      </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Search: Not Found -->
  <tr *matNoDataRow>
      <td class="mat-cell" colspan="4">
          Search was not found for: {{input.value}}
      </td>
  </tr>


</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-labels="select page of Clients"></mat-paginator>
<button (click)="openAddDialog()" mat-mini-fab color="primary" class="material-symbols-outlined">add_circle</button>
