<app-header></app-header>

<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success !</strong> Supplier Added Successfully
    <button mat-button color="warn" (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
        <mat-icon>close</mat-icon>
    </button>
</div>

<form [formGroup]="supplierFrm" class="form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Add Supplier</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <mat-form-field class="full-width">
                    <input [(ngModel)]='Type' matInput placeholder="Supplier Type" name="Type"
                        formControlName="Type">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input [(ngModel)]='Name' matInput placeholder="Supplier  Name" name="Name"
                        formControlName="Name">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input [(ngModel)]='Email' matInput placeholder="Supplier Email" name="email"
                        formControlName="Email">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input [(ngModel)]='Address' matInput placeholder="Supplier Address" name="Address"
                        formControlName="Address">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input [(ngModel)]='Number' matInput placeholder="Supplier Number" name="Number"
                        formControlName="Number">
                </mat-form-field>
                <mat-error *ngIf="hasError('Name, Address, Email, Type, Number', 'required')"></mat-error>
                <mat-card-actions>
                    <button (click)="addSupplier()" mat-raised-button color="primary">Add</button>
                    <button class="btnBack" mat-raised-button color="warn" routerLink="/supplier">Back</button>
                </mat-card-actions>
            </div>
        </mat-card-content>
    </mat-card>
</form>
