

    <mat-card>
    <button mat-raised-button color="danger">Back</button>
    </mat-card>


<form [formGroup]="userRoleFrm" class="form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Add User Role</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <mat-form-field class="full-width">

                    <input [(ngModel)]='Description' matInput placeholder="User Role Name" name="Description" formControlName="Description">
                    
                </mat-form-field>
                <mat-error *ngIf="hasError('Description', 'required')">User Role is required</mat-error>

                <mat-card-actions>
                    <button (click)="addUserR()" mat-raised-button color="primary">Add</button>
                </mat-card-actions>
            </div>

            


        </mat-card-content>

        

           

    

    </mat-card>
</form>
              
                        
                        
               
            
        
    





















