.example-card {
  max-width: 400px;
  margin-bottom: 8px;
  max-height: 300px;
padding: auto;
}

.container{
  display: flex;
  align-items: center;
}

.container img{
  width: 15%;
  margin-right: 20px;
}
