<div class="container">
    <mat-card>
        <mat-card-header class="header">
            <mat-card-title>
                Add New Vehicle
            </mat-card-title>
        </mat-card-header>
    </mat-card>

</div>

<div class="main">
    <h1>Add New Vehicle</h1>

    <form [formGroup]="addForm" class="addVehicle">

        <mat-card>
            <mat-card-content>
                <div class="row">
                    <mat-form-field appearance="standard">
                        <mat-label> Vehicle type</mat-label>
                        <mat-select formControlName="vehicletypeId">
                            <mat-option *ngFor="let type of Vehicletypes" [value]="type.id">
                                {{type.description}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="hasError('vehicletypeId', 'required')">Vehicle Type Name is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="standard">
                        <mat-label>Make</mat-label>
                        <input matInput placeholder="Input Make name" #nameInput formControlName="make">
                        <mat-error *ngIf="hasError('make', 'required')">Make Name is required</mat-error>
                        <mat-error *ngIf="hasError('make', 'pattern')">Enter letter only make name</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="standard">
                        <mat-label>Model</mat-label>
                        <input matInput placeholder="Type  Model name" #nameInput formControlName="model">
                        <mat-error *ngIf="hasError('model', 'required')">Model Name is required</mat-error>
                        <mat-error *ngIf="hasError('model', 'pattern')">Enter letter only model name</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="standard">
                        <mat-label>Vehicle Color</mat-label>
                        <input matInput placeholder="Type  Vehicle color" #nameInput formControlName="color">
                        <mat-error *ngIf="hasError('color', 'required')">Color is required</mat-error>
                        <mat-error *ngIf="hasError('color', 'pattern')">Enter letter only color name</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="standard">
                        <mat-label>Model Year Date</mat-label>
                        <input matInput formControlName="year" [matDatepicker]="yearPicker"
                            (click)="yearPicker.open()">
                        <mat-datepicker-toggle matSuffix [for]="yearPicker"></mat-datepicker-toggle>
                        <mat-datepicker #yearPicker color="warn"></mat-datepicker>
                        <mat-error *ngIf="hasError('year', 'required')"> Model Year Date is required</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="standard">
                        <mat-label>Date Purchased</mat-label>
                        <input matInput formControlName="datePurchased" [matDatepicker]="modelDatePurchasedPicker"
                            (click)="modelDatePurchasedPicker.open()">
                        <mat-datepicker-toggle matSuffix [for]="modelDatePurchasedPicker"></mat-datepicker-toggle>
                        <mat-datepicker #modelDatePurchasedPicker color="warn"></mat-datepicker>
                        <mat-error *ngIf="hasError('datePurchased', 'required')">Date Purchased is required</mat-error>
                    </mat-form-field>

                    <div class="btn">
                        <button mat-raised-button color="primary" type="button" (click)="AddVehicle()"
                            [disabled]="!addForm.valid">Add
                        </button>
                        &nbsp;
                        <button mat-raised-button color="warn" type="button" (click)="back()">Back</button>
                    </div>

                </div>

            </mat-card-content>
        </mat-card>
    </form>
</div>
