<app-header></app-header>

<button class="btnBack" mat-raised-button color="warn" routerLink="/material">Back</button>

<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success !</strong> Project Added Successfully
    <button mat-button color="warn" (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
        <mat-icon>close</mat-icon>
    </button>
</div>

<form [formGroup]="projectfrm" class="form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Add Project</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <mat-form-field class="full-width">
                    <mat-label>Choose a Cosntruction Site</mat-label>
                    <mat-placeholder>Choose a Cosntruction Site</mat-placeholder>
                    <mat-select formArrayName="Site">
                        <mat-option>Clear</mat-option>
                        <mat-option mat-cell *matCellDef="let element">{{ConstructionSite[element.constructionsiteId-1].address}}</mat-option>
                      </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input [(ngModel)]='Req' matInput placeholder="Inital Request" name="Request"
                        formControlName="Req">
                </mat-form-field>
                <!-- <mat-error *ngIf="hasError('Request', 'required')"></mat-error> -->
                <mat-form-field class="full-width">
                    <input [(ngModel)]='SaftyFile' matInput placeholder="Safty File" name="SaftyFile"
                        formControlName="SaftyFile">
                </mat-form-field>
                <mat-error *ngIf="hasError('SaftyFile', 'required')"></mat-error>
                <mat-card-actions>
                    <button (click)="addProject()" mat-raised-button color="primary">Add</button>
                    <button (click)="back()" mat-raised-button color="warn">back</button>
                </mat-card-actions>
            </div>
        </mat-card-content>
    </mat-card>
</form>