Skip to content
Search or jump to…
Pulls
Issues
Marketplace
Explore
 
@ngcebomasilela 
ChaseNel
/
Team-43-IMOS
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Team-43-IMOS/Imos/src/app/user/user-role/add-user-role/add-user-role.component.html
@ChaseNel
ChaseNel Update User Role Working
Latest commit db05e18 on May 18
 History
 2 contributors
@SydneyZinyama@ChaseNel
30 lines (27 sloc)  1.22 KB

<app-header></app-header>

<div class="main">

    <h1> Add New User Role</h1>
<form [formGroup]="userRoleFrm" class="addUserRole">
    <mat-card>
      
        <mat-card-content>

            <div class="row">
                <mat-form-field appearance="standard">
                    <input [(ngModel)]='Description' matInput placeholder="User Role Name" name="Description"
                        formControlName="Description">
                        <mat-error *ngIf="hasError('Description', 'required')">User Role name is required</mat-error>
                        <mat-error *ngIf="hasError('Description', 'pattern')">Enter user role name with letters only</mat-error>
                        <mat-error *ngIf="hasError('Description', 'maxlength')">25 characters maximum</mat-error>
                </mat-form-field>

              
                <div class="btn">
                    <button mat-raised-button color="primary" type="button" (click)="addUserRole()"
                        [disabled]="!userRoleFrm.valid">Add
                    </button>
                    &nbsp;
                    <button mat-raised-button color="warn" type="button" (click)="back()">Back</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>

</div>