<mat-card class="card">
    <mat-card-header class="header">
        <mat-card-title>
            Update   Equipment 
        </mat-card-title>
    </mat-card-header>
</mat-card>
<form [formGroup]="updateForm" class="form" (ngSubmit)="onSubmit()">
    <mat-card-content class="content">
        <div>
            <mat-form-field appearance="standard">
                 <mat-label>Name</mat-label>
                  <input matInput  placeholder="Type name" #nameInput  formControlName="name">
                  <mat-error>Name is required</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="standard">
                 <mat-label>Description</mat-label>
                  <input matInput  placeholder="Enter description" #nameInput  formControlName="description">
                  <mat-error>Description is required</mat-error>
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button   mat-raised-button color="primary">Update</button>
        <button (click)="Cancel()" mat-raised-button color="warn">Cancel</button>
    </mat-card-actions>

</form>