USE [master]
GO
/****** Object:  Database [IMOS]    Script Date: 2022/09/23 20:05:39 ******/
CREATE DATABASE [IMOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IMOS', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\IMOS.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'IMOS_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\IMOS_log.ldf' , SIZE = 1600KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IMOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IMOS]
GO
/****** Object:  Table [dbo].[ATTENDENCE]    Script Date: 2022/09/23 20:05:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTENDENCE](
	[ATTENDENCE_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [int] NOT NULL,
	[PROJECT_ID] [int] NOT NULL,
	[PRESENT] [bit] NULL,
	[DATE] [datetime] NULL,
 CONSTRAINT [PK_ATTENDENCE] PRIMARY KEY CLUSTERED 
(
	[ATTENDENCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUDITLOG]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUDITLOG](
	[AUDITLOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[INITIATOR] [varchar](50) NOT NULL,
	[OPERATIONTYPE] [varchar](50) NOT NULL,
	[TABLENAME] [varchar](50) NOT NULL,
	[PRIMARYKEY] [varchar](50) NOT NULL,
	[OLDVALUES] [varchar](255) NOT NULL,
	[NEWVALUES] [varchar](255) NOT NULL,
	[DATETIMESTAP] [datetime] NOT NULL,
	[AFFECTEDCOLUMNS] [varchar](255) NOT NULL,
	[USER_ID] [int] NOT NULL,
 CONSTRAINT [PK_AUDITLOG] PRIMARY KEY CLUSTERED 
(
	[AUDITLOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT](
	[CLIENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CONTACTNUMBER] [varchar](255) NOT NULL,
	[CLIENTNAME] [varchar](255) NOT NULL,
	[CLIENTEMAIL] [varchar](255) NOT NULL,
 CONSTRAINT [PK_CLIENT] PRIMARY KEY CLUSTERED 
(
	[CLIENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONSTRUCTIONSITE]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONSTRUCTIONSITE](
	[CONSTRUCTIONSITE_ID] [int] IDENTITY(1,1) NOT NULL,
	[ADDRESS] [varchar](255) NULL,
 CONSTRAINT [PK_CONSTRUCTIONSITE] PRIMARY KEY CLUSTERED 
(
	[CONSTRUCTIONSITE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DELIVERY]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DELIVERY](
	[DELIVERY_ID] [int] IDENTITY(1,1) NOT NULL,
	[PROJECT_ID] [int] NOT NULL,
	[Order_ID] [int] NOT NULL,
	[DATE] [datetime] NOT NULL,
	[DELIVERYNOTE] [image] NOT NULL,
	[WAREHOUSE_ID] [int] NOT NULL,
	[CONSTRUCTIONSITE_ID] [int] NOT NULL,
 CONSTRAINT [PK_DELIVERY] PRIMARY KEY CLUSTERED 
(
	[DELIVERY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Document]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document](
	[Document_ID] [int] IDENTITY(1,1) NOT NULL,
	[FileUrl] [nvarchar](max) NULL,
	[Employee_ID] [int] NOT NULL,
 CONSTRAINT [PK__Documnt__513A0475D7EB0181] PRIMARY KEY CLUSTERED 
(
	[Document_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EMPLOYEE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](255) NOT NULL,
	[EMAIL] [varchar](255) NOT NULL,
	[CONTACTNUMBER] [varchar](255) NOT NULL,
	[FileUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EQUIPMENT]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EQUIPMENT](
	[EQUIPMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](255) NULL,
	[DESCRIPTION] [varchar](255) NULL,
 CONSTRAINT [PK_EQUIPMENT] PRIMARY KEY CLUSTERED 
(
	[EQUIPMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EQUIPMENTCHECK]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EQUIPMENTCHECK](
	[EQUIPMENTCHECK_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
 CONSTRAINT [PK_EQUIPMENTCHECK] PRIMARY KEY CLUSTERED 
(
	[EQUIPMENTCHECK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INCIDENT]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INCIDENT](
	[INCIDENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPTION] [varchar](255) NOT NULL,
	[PROJECT_ID] [int] NOT NULL,
 CONSTRAINT [PK_INCIDENT] PRIMARY KEY CLUSTERED 
(
	[INCIDENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVOICE]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICE](
	[INVOICE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PROJECT_ID] [int] NOT NULL,
	[TASK_ID] [int] NOT NULL,
	[AMOUNT] [int] NULL,
 CONSTRAINT [PK_INVOICE] PRIMARY KEY CLUSTERED 
(
	[INVOICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIAL]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIAL](
	[MATERIAL_ID] [int] IDENTITY(1,1) NOT NULL,
	[MATERIALTYPE_ID] [int] NOT NULL,
	[NAME] [varchar](255) NOT NULL,
	[DESCRIPTION] [varchar](255) NOT NULL,
 CONSTRAINT [PK_MATERIAL] PRIMARY KEY CLUSTERED 
(
	[MATERIAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIALTYPE]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIALTYPE](
	[MATERIALTYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](255) NOT NULL,
	[DESCRIPTION] [varchar](255) NOT NULL,
 CONSTRAINT [PK_MATERIALTYPE] PRIMARY KEY CLUSTERED 
(
	[MATERIALTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERLINE]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERLINE](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[OrderNumber] [varchar](255) NOT NULL,
	[SUPPLIER_ID] [int] NOT NULL,
 CONSTRAINT [PK_ORDERLINE] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJECT]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECT](
	[PROJECT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CONSTRUCTIONSITE_ID] [int] NOT NULL,
	[INITIALREQUEST_ID] [int] NOT NULL,
	[SAFETYFILECREATED] [bit] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PROJECT] PRIMARY KEY CLUSTERED 
(
	[PROJECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJECTEMPLOYEE]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECTEMPLOYEE](
	[EMPLOYEE_ID] [int] NOT NULL,
	[PROJECT_ID] [int] NOT NULL,
 CONSTRAINT [PK_PROJECTEMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC,
	[PROJECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJECTEQUIPMENT]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECTEQUIPMENT](
	[PROJECT_ID] [int] NOT NULL,
	[EQUIPMENT_ID] [int] NOT NULL,
 CONSTRAINT [PK_PROJECTEQUIPMENT] PRIMARY KEY CLUSTERED 
(
	[PROJECT_ID] ASC,
	[EQUIPMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJECTMATERIAL]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECTMATERIAL](
	[PROJECT_ID] [int] NOT NULL,
	[MATERIAL_ID] [int] NOT NULL,
	[QUANTITY] [int] NULL,
 CONSTRAINT [PK_PROJECTMATERIAL] PRIMARY KEY CLUSTERED 
(
	[PROJECT_ID] ASC,
	[MATERIAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJECTMATERIALREQUEST]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECTMATERIALREQUEST](
	[PROJECTMATERIALREQUEST_ID] [int] IDENTITY(1,1) NOT NULL,
	[PROJECT_ID] [int] NOT NULL,
	[URGENCYLEVEL_ID] [int] NOT NULL,
	[RequestDate] [date] NOT NULL,
	[PROJECTMATERIALREQUESTSTATUS_ID] [int] NOT NULL,
	[StatusUpdateDate] [date] NOT NULL,
 CONSTRAINT [PK_PROJECTMATERIALREQUEST] PRIMARY KEY CLUSTERED 
(
	[PROJECTMATERIALREQUEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJECTMATERIALREQUESTLIST]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECTMATERIALREQUESTLIST](
	[MATERIAL_ID] [int] NOT NULL,
	[PROJECTMATERIALREQUEST_ID] [int] NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[PROJECTMATERIALREQUESTLIST_ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_PROJECTMATERIALREQUESTLIST_1] PRIMARY KEY CLUSTERED 
(
	[PROJECTMATERIALREQUESTLIST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJECTMATERIALREQUESTSTATUS]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECTMATERIALREQUESTSTATUS](
	[PROJECTMATERIALREQUESTSTATUS_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MATERIALREQUESTSTATUS] PRIMARY KEY CLUSTERED 
(
	[PROJECTMATERIALREQUESTSTATUS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQUEST]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUEST](
	[REQUEST_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLIENT_ID] [int] NOT NULL,
	[DESCRIPTION] [varchar](255) NULL,
 CONSTRAINT [PK_REQUEST] PRIMARY KEY CLUSTERED 
(
	[REQUEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SafetyFile]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SafetyFile](
	[SafetyFile_Id] [int] IDENTITY(1,1) NOT NULL,
	[FileUrl] [nvarchar](max) NOT NULL,
	[PROJECT_ID] [int] NOT NULL,
 CONSTRAINT [PK_SafetyFile] PRIMARY KEY CLUSTERED 
(
	[SafetyFile_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAFETYFILECHECKLIST]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAFETYFILECHECKLIST](
	[PROJECT_ID] [int] NOT NULL,
	[SAFETYFILEITEM_ID] [int] NOT NULL,
 CONSTRAINT [PK_SAFETYFILECHECKLIST] PRIMARY KEY CLUSTERED 
(
	[PROJECT_ID] ASC,
	[SAFETYFILEITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAFETYFILEITEM]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAFETYFILEITEM](
	[SAFETYFILEITEM_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](255) NULL,
	[SAFETYITEMCATEGORY_ID] [int] NOT NULL,
 CONSTRAINT [PK_SAFETYFILEITEM] PRIMARY KEY CLUSTERED 
(
	[SAFETYFILEITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAFETYITEMCATEGORY]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAFETYITEMCATEGORY](
	[SAFETYITEMCATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](255) NOT NULL,
 CONSTRAINT [PK_SAFETYITEMCATEGORY] PRIMARY KEY CLUSTERED 
(
	[SAFETYITEMCATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STOCKTAKE]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOCKTAKE](
	[STOCKTAKE_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
 CONSTRAINT [PK_STOCKTAKE] PRIMARY KEY CLUSTERED 
(
	[STOCKTAKE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPLIER]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIER](
	[SUPPLIER_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUPPLIERTYPE_ID] [int] NOT NULL,
	[NAME] [varchar](255) NULL,
	[ADDRESS] [varchar](255) NULL,
	[EMAIL] [varchar](255) NULL,
	[CONTACTNUMBER] [varchar](255) NULL,
 CONSTRAINT [PK_SUPPLIER] PRIMARY KEY CLUSTERED 
(
	[SUPPLIER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPLIERMATERIAL]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIERMATERIAL](
	[MATERIAL_ID] [int] NOT NULL,
	[SUPPLIER_ID] [int] NOT NULL,
 CONSTRAINT [PK_SUPPLIERMATERIAL] PRIMARY KEY CLUSTERED 
(
	[SUPPLIER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPLIERMATERIALORDER]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIERMATERIALORDER](
	[MATERIAL_ID] [int] NOT NULL,
	[Order_ID] [int] NOT NULL,
	[QuantityOrdered] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATERIAL_ID] ASC,
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPLIERTYPE]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIERTYPE](
	[SUPPLIERTYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](255) NULL,
 CONSTRAINT [PK_SUPPLIERTYPE] PRIMARY KEY CLUSTERED 
(
	[SUPPLIERTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TASK]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASK](
	[TASK_ID] [int] IDENTITY(1,1) NOT NULL,
	[TASKTYPE_ID] [int] NOT NULL,
	[DESCRIPTION] [nvarchar](255) NOT NULL,
	[STARTDATE] [datetime] NOT NULL,
	[ENDDATE] [datetime] NOT NULL,
	[QNAPASSED] [bit] NOT NULL,
	[PROJECT_ID] [int] NOT NULL,
 CONSTRAINT [PK_TASK] PRIMARY KEY CLUSTERED 
(
	[TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TASKMATERIAL]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASKMATERIAL](
	[MATERIAL_ID] [int] NOT NULL,
	[TASK_ID] [int] NOT NULL,
 CONSTRAINT [PK_TASKMATERIAL] PRIMARY KEY CLUSTERED 
(
	[MATERIAL_ID] ASC,
	[TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TASKTYPE]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASKTYPE](
	[TASKTYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPTION] [varchar](255) NULL,
 CONSTRAINT [PK_TASKTYPE] PRIMARY KEY CLUSTERED 
(
	[TASKTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URGENCYLEVEL]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URGENCYLEVEL](
	[URGENCYLEVEL_ID] [int] IDENTITY(1,1) NOT NULL,
	[LEVEL] [varchar](20) NULL,
	[DESCRIPTION] [varchar](255) NULL,
 CONSTRAINT [PK_URGENCYLEVEL] PRIMARY KEY CLUSTERED 
(
	[URGENCYLEVEL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USERROLE_ID] [int] NOT NULL,
	[EMPLOYEE_ID] [int] NOT NULL,
	[USERNAME] [varchar](255) NOT NULL,
	[USERPASSWORD] [varchar](255) NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERINCIDENT]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERINCIDENT](
	[USER_ID] [int] NOT NULL,
	[INCIDENT_ID] [int] NOT NULL,
 CONSTRAINT [PK_USERINCIDENT] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[INCIDENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERROLE]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERROLE](
	[USERROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPTION] [varchar](255) NOT NULL,
 CONSTRAINT [PK_USERROLE] PRIMARY KEY CLUSTERED 
(
	[USERROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEHICLE]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEHICLE](
	[VEHICLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[VEHICLETYPE_ID] [int] NOT NULL,
	[USER_ID] [int] NULL,
	[Make] [varchar](50) NOT NULL,
	[Model] [varchar](50) NOT NULL,
	[Year] [date] NOT NULL,
	[Color] [varchar](50) NOT NULL,
	[DatePurchased] [date] NOT NULL,
	[AssignedStatus] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_VEHICLE] PRIMARY KEY CLUSTERED 
(
	[VEHICLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEHICLETYPE]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEHICLETYPE](
	[VEHICLETYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPTION] [varchar](255) NULL,
 CONSTRAINT [PK_VEHICLETYPE] PRIMARY KEY CLUSTERED 
(
	[VEHICLETYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WAREHOUSE]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAREHOUSE](
	[WAREHOUSE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](255) NOT NULL,
	[LOCATION] [varchar](255) NOT NULL,
 CONSTRAINT [PK_WAREHOUSE] PRIMARY KEY CLUSTERED 
(
	[WAREHOUSE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WAREHOUSEEQUIPMENT]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAREHOUSEEQUIPMENT](
	[WAREHOUSE_ID] [int] NOT NULL,
	[EQUIPMENT_ID] [int] NOT NULL,
	[QUANTITY] [int] NOT NULL,
 CONSTRAINT [PK_WAREHOUSEEQUIPMENT] PRIMARY KEY CLUSTERED 
(
	[WAREHOUSE_ID] ASC,
	[EQUIPMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WAREHOUSEEQUIPMENTCHECK]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAREHOUSEEQUIPMENTCHECK](
	[EQUIPMENTCHECK_ID] [int] IDENTITY(1,1) NOT NULL,
	[WAREHOUSE_ID] [int] NOT NULL,
	[EQUIPMENT_ID] [int] NOT NULL,
	[CHECK_IN] [datetime] NULL,
	[CHECK_OUT] [datetime] NULL,
 CONSTRAINT [PK_WAREHOUSEEQUIPMENTCHECK] PRIMARY KEY CLUSTERED 
(
	[EQUIPMENTCHECK_ID] ASC,
	[WAREHOUSE_ID] ASC,
	[EQUIPMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WAREHOUSEEQUIPMENTWRITEOFF]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAREHOUSEEQUIPMENTWRITEOFF](
	[WRITEOFF_ID] [int] NOT NULL,
	[WAREHOUSE_ID] [int] NOT NULL,
	[EQUIPMENT_ID] [int] NOT NULL,
	[QUANTITY] [int] NULL,
 CONSTRAINT [PK_WAREHOUSEEQUIPMENTWRITEOFF] PRIMARY KEY CLUSTERED 
(
	[WRITEOFF_ID] ASC,
	[WAREHOUSE_ID] ASC,
	[EQUIPMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WAREHOUSEMATERIAL]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAREHOUSEMATERIAL](
	[WAREHOUSE_ID] [int] NOT NULL,
	[MATERIAL_ID] [int] NOT NULL,
	[QuantityOnHand] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WAREHOUSE_ID] ASC,
	[MATERIAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WAREHOUSEMATERIALSTOCKTAKE]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAREHOUSEMATERIALSTOCKTAKE](
	[STOCKTAKE_ID] [int] NOT NULL,
	[MATERIAL_ID] [int] NOT NULL,
	[WAREHOUSE_ID] [int] NOT NULL,
	[QUANTITY] [int] NULL,
 CONSTRAINT [PK_WAREHOUSEMATERIALSTOCKTAKE] PRIMARY KEY CLUSTERED 
(
	[STOCKTAKE_ID] ASC,
	[MATERIAL_ID] ASC,
	[WAREHOUSE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WAREHOUSEMATERIALWRITEOFF]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAREHOUSEMATERIALWRITEOFF](
	[WRITEOFF_ID] [int] NOT NULL,
	[MATERIAL_ID] [int] NOT NULL,
	[WAREHOUSE_ID] [int] NOT NULL,
 CONSTRAINT [PK_WAREHOUSEMATERIALWRITEOFF] PRIMARY KEY CLUSTERED 
(
	[WRITEOFF_ID] ASC,
	[MATERIAL_ID] ASC,
	[WAREHOUSE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WRITEOFF]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WRITEOFF](
	[WRITEOFF_ID] [int] IDENTITY(1,1) NOT NULL,
	[WRITEOFFREASON_ID] [int] NOT NULL,
 CONSTRAINT [PK_WRITEOFF] PRIMARY KEY CLUSTERED 
(
	[WRITEOFF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WRITEOFFREASON]    Script Date: 2022/09/23 20:05:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WRITEOFFREASON](
	[WRITEOFFREASON_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPTION] [varchar](255) NULL,
 CONSTRAINT [PK_WRITEOFFREASON] PRIMARY KEY CLUSTERED 
(
	[WRITEOFFREASON_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [MARKS_REGISTER_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [MARKS_REGISTER_FK] ON [dbo].[ATTENDENCE]
(
	[EMPLOYEE_ID] ASC,
	[PROJECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [SCHEDULES_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [SCHEDULES_FK] ON [dbo].[DELIVERY]
(
	[PROJECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RECORDS_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [RECORDS_FK] ON [dbo].[EQUIPMENTCHECK]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IS_FOR_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [IS_FOR_FK] ON [dbo].[INVOICE]
(
	[TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IS_SENT_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [IS_SENT_FK] ON [dbo].[INVOICE]
(
	[PROJECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [___________________________________________HAS___FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [___________________________________________HAS___FK] ON [dbo].[MATERIAL]
(
	[MATERIALTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [__HAS_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [__HAS_FK] ON [dbo].[PROJECT]
(
	[CONSTRUCTIONSITE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IS_MADE_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [IS_MADE_FK] ON [dbo].[PROJECT]
(
	[INITIALREQUEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [HAS___FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [HAS___FK] ON [dbo].[PROJECTEMPLOYEE]
(
	[PROJECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PART__OF_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [PART__OF_FK] ON [dbo].[PROJECTEMPLOYEE]
(
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [________________________________HAS_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [________________________________HAS_FK] ON [dbo].[PROJECTEQUIPMENT]
(
	[PROJECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [____HAS_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [____HAS_FK] ON [dbo].[PROJECTEQUIPMENT]
(
	[EQUIPMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IS_ALLOCATED_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [IS_ALLOCATED_FK] ON [dbo].[PROJECTMATERIAL]
(
	[PROJECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IS_TAKEN_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [IS_TAKEN_FK] ON [dbo].[PROJECTMATERIAL]
(
	[MATERIAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [HAVE_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [HAVE_FK] ON [dbo].[PROJECTMATERIALREQUEST]
(
	[URGENCYLEVEL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MUST_HAVE_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [MUST_HAVE_FK] ON [dbo].[PROJECTMATERIALREQUEST]
(
	[PROJECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [APPROVAL_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [APPROVAL_FK] ON [dbo].[PROJECTMATERIALREQUESTLIST]
(
	[PROJECTMATERIALREQUEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IS_IN_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [IS_IN_FK] ON [dbo].[PROJECTMATERIALREQUESTLIST]
(
	[MATERIAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MAKES_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [MAKES_FK] ON [dbo].[REQUEST]
(
	[CLIENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ATTACH_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [ATTACH_FK] ON [dbo].[SAFETYFILECHECKLIST]
(
	[SAFETYFILEITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [KEEPS_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [KEEPS_FK] ON [dbo].[SAFETYFILECHECKLIST]
(
	[PROJECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CONDUCTS_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [CONDUCTS_FK] ON [dbo].[STOCKTAKE]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [_______HAS_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [_______HAS_FK] ON [dbo].[SUPPLIER]
(
	[SUPPLIERTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [_______________________HAS_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [_______________________HAS_FK] ON [dbo].[TASK]
(
	[TASKTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CREATED_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [CREATED_FK] ON [dbo].[TASK]
(
	[DESCRIPTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [______________HAS_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [______________HAS_FK] ON [dbo].[TASKMATERIAL]
(
	[MATERIAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [_HAS_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [_HAS_FK] ON [dbo].[TASKMATERIAL]
(
	[TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IS_ASSIGNED_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [IS_ASSIGNED_FK] ON [dbo].[USER]
(
	[USERROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IS_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [IS_FK] ON [dbo].[USER]
(
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [__________________________HAS_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [__________________________HAS_FK] ON [dbo].[USERINCIDENT]
(
	[INCIDENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [___HAS_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [___HAS_FK] ON [dbo].[USERINCIDENT]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ASSIGN_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [ASSIGN_FK] ON [dbo].[VEHICLE]
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [HAS__FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [HAS__FK] ON [dbo].[VEHICLE]
(
	[VEHICLETYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [_CONTAINS_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [_CONTAINS_FK] ON [dbo].[WAREHOUSEEQUIPMENT]
(
	[WAREHOUSE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IS_AT_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [IS_AT_FK] ON [dbo].[WAREHOUSEEQUIPMENT]
(
	[EQUIPMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CAN___HAVE_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [CAN___HAVE_FK] ON [dbo].[WAREHOUSEEQUIPMENTCHECK]
(
	[WAREHOUSE_ID] ASC,
	[EQUIPMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [HAS____________________FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [HAS____________________FK] ON [dbo].[WAREHOUSEEQUIPMENTCHECK]
(
	[EQUIPMENTCHECK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CAN_CONTAIN_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [CAN_CONTAIN_FK] ON [dbo].[WAREHOUSEEQUIPMENTWRITEOFF]
(
	[WRITEOFF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CAN_HAVE_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [CAN_HAVE_FK] ON [dbo].[WAREHOUSEEQUIPMENTWRITEOFF]
(
	[WAREHOUSE_ID] ASC,
	[EQUIPMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IS_CONDUCTED_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [IS_CONDUCTED_FK] ON [dbo].[WAREHOUSEMATERIALSTOCKTAKE]
(
	[STOCKTAKE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UNDERGOES_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [UNDERGOES_FK] ON [dbo].[WAREHOUSEMATERIALSTOCKTAKE]
(
	[MATERIAL_ID] ASC,
	[WAREHOUSE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [HAVE______________________FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [HAVE______________________FK] ON [dbo].[WAREHOUSEMATERIALWRITEOFF]
(
	[MATERIAL_ID] ASC,
	[WAREHOUSE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [HAVE__________FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [HAVE__________FK] ON [dbo].[WAREHOUSEMATERIALWRITEOFF]
(
	[WRITEOFF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [HAS_TO_FK]    Script Date: 2022/09/23 20:05:40 ******/
CREATE NONCLUSTERED INDEX [HAS_TO_FK] ON [dbo].[WRITEOFF]
(
	[WRITEOFFREASON_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ATTENDENCE]  WITH CHECK ADD  CONSTRAINT [FK_ATTENDEN_MARKS_REG_PROJECTE] FOREIGN KEY([EMPLOYEE_ID], [PROJECT_ID])
REFERENCES [dbo].[PROJECTEMPLOYEE] ([EMPLOYEE_ID], [PROJECT_ID])
GO
ALTER TABLE [dbo].[ATTENDENCE] CHECK CONSTRAINT [FK_ATTENDEN_MARKS_REG_PROJECTE]
GO
ALTER TABLE [dbo].[AUDITLOG]  WITH CHECK ADD  CONSTRAINT [FK_AUDITLOG_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[AUDITLOG] CHECK CONSTRAINT [FK_AUDITLOG_USER]
GO
ALTER TABLE [dbo].[DELIVERY]  WITH CHECK ADD  CONSTRAINT [FK_DELIVERY_CONSTRUCTIONSITE] FOREIGN KEY([CONSTRUCTIONSITE_ID])
REFERENCES [dbo].[CONSTRUCTIONSITE] ([CONSTRUCTIONSITE_ID])
GO
ALTER TABLE [dbo].[DELIVERY] CHECK CONSTRAINT [FK_DELIVERY_CONSTRUCTIONSITE]
GO
ALTER TABLE [dbo].[DELIVERY]  WITH CHECK ADD  CONSTRAINT [FK_DELIVERY_ORDERLINE] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[ORDERLINE] ([Order_ID])
GO
ALTER TABLE [dbo].[DELIVERY] CHECK CONSTRAINT [FK_DELIVERY_ORDERLINE]
GO
ALTER TABLE [dbo].[DELIVERY]  WITH CHECK ADD  CONSTRAINT [FK_DELIVERY_SCHEDULES_PROJECT] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[PROJECT] ([PROJECT_ID])
GO
ALTER TABLE [dbo].[DELIVERY] CHECK CONSTRAINT [FK_DELIVERY_SCHEDULES_PROJECT]
GO
ALTER TABLE [dbo].[DELIVERY]  WITH CHECK ADD  CONSTRAINT [FK_DELIVERY_WAREHOUSE] FOREIGN KEY([WAREHOUSE_ID])
REFERENCES [dbo].[WAREHOUSE] ([WAREHOUSE_ID])
GO
ALTER TABLE [dbo].[DELIVERY] CHECK CONSTRAINT [FK_DELIVERY_WAREHOUSE]
GO
ALTER TABLE [dbo].[EQUIPMENTCHECK]  WITH CHECK ADD  CONSTRAINT [FK_EQUIPMEN_RECORDS_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[EQUIPMENTCHECK] CHECK CONSTRAINT [FK_EQUIPMEN_RECORDS_USER]
GO
ALTER TABLE [dbo].[INCIDENT]  WITH CHECK ADD  CONSTRAINT [FK_INCIDENT_PROJECT] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[PROJECT] ([PROJECT_ID])
GO
ALTER TABLE [dbo].[INCIDENT] CHECK CONSTRAINT [FK_INCIDENT_PROJECT]
GO
ALTER TABLE [dbo].[INVOICE]  WITH CHECK ADD  CONSTRAINT [FK_INVOICE_IS_FOR_TASK] FOREIGN KEY([TASK_ID])
REFERENCES [dbo].[TASK] ([TASK_ID])
GO
ALTER TABLE [dbo].[INVOICE] CHECK CONSTRAINT [FK_INVOICE_IS_FOR_TASK]
GO
ALTER TABLE [dbo].[INVOICE]  WITH CHECK ADD  CONSTRAINT [FK_INVOICE_IS_SENT_PROJECT] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[PROJECT] ([PROJECT_ID])
GO
ALTER TABLE [dbo].[INVOICE] CHECK CONSTRAINT [FK_INVOICE_IS_SENT_PROJECT]
GO
ALTER TABLE [dbo].[MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_MATERIAL_MATERIALTYPE] FOREIGN KEY([MATERIALTYPE_ID])
REFERENCES [dbo].[MATERIALTYPE] ([MATERIALTYPE_ID])
GO
ALTER TABLE [dbo].[MATERIAL] CHECK CONSTRAINT [FK_MATERIAL_MATERIALTYPE]
GO
ALTER TABLE [dbo].[ORDERLINE]  WITH CHECK ADD  CONSTRAINT [FK_ORDERLINE_SUPPLIER] FOREIGN KEY([SUPPLIER_ID])
REFERENCES [dbo].[SUPPLIER] ([SUPPLIER_ID])
GO
ALTER TABLE [dbo].[ORDERLINE] CHECK CONSTRAINT [FK_ORDERLINE_SUPPLIER]
GO
ALTER TABLE [dbo].[PROJECT]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT___HAS_CONSTRUC] FOREIGN KEY([CONSTRUCTIONSITE_ID])
REFERENCES [dbo].[CONSTRUCTIONSITE] ([CONSTRUCTIONSITE_ID])
GO
ALTER TABLE [dbo].[PROJECT] CHECK CONSTRAINT [FK_PROJECT___HAS_CONSTRUC]
GO
ALTER TABLE [dbo].[PROJECT]  WITH CHECK ADD  CONSTRAINT [FK_PROJECT_IS_MADE_REQUEST] FOREIGN KEY([INITIALREQUEST_ID])
REFERENCES [dbo].[REQUEST] ([REQUEST_ID])
GO
ALTER TABLE [dbo].[PROJECT] CHECK CONSTRAINT [FK_PROJECT_IS_MADE_REQUEST]
GO
ALTER TABLE [dbo].[PROJECTEMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTE_HAS___PROJECT] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[PROJECT] ([PROJECT_ID])
GO
ALTER TABLE [dbo].[PROJECTEMPLOYEE] CHECK CONSTRAINT [FK_PROJECTE_HAS___PROJECT]
GO
ALTER TABLE [dbo].[PROJECTEMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTE_PART__OF_EMPLOYEE] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[PROJECTEMPLOYEE] CHECK CONSTRAINT [FK_PROJECTE_PART__OF_EMPLOYEE]
GO
ALTER TABLE [dbo].[PROJECTEQUIPMENT]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTE___________PROJECT] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[PROJECT] ([PROJECT_ID])
GO
ALTER TABLE [dbo].[PROJECTEQUIPMENT] CHECK CONSTRAINT [FK_PROJECTE___________PROJECT]
GO
ALTER TABLE [dbo].[PROJECTEQUIPMENT]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTE_____HAS_EQUIPMEN] FOREIGN KEY([EQUIPMENT_ID])
REFERENCES [dbo].[EQUIPMENT] ([EQUIPMENT_ID])
GO
ALTER TABLE [dbo].[PROJECTEQUIPMENT] CHECK CONSTRAINT [FK_PROJECTE_____HAS_EQUIPMEN]
GO
ALTER TABLE [dbo].[PROJECTMATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTM_IS_ALLOCA_PROJECT] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[PROJECT] ([PROJECT_ID])
GO
ALTER TABLE [dbo].[PROJECTMATERIAL] CHECK CONSTRAINT [FK_PROJECTM_IS_ALLOCA_PROJECT]
GO
ALTER TABLE [dbo].[PROJECTMATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTM_IS_TAKEN_MATERIAL] FOREIGN KEY([MATERIAL_ID])
REFERENCES [dbo].[MATERIAL] ([MATERIAL_ID])
GO
ALTER TABLE [dbo].[PROJECTMATERIAL] CHECK CONSTRAINT [FK_PROJECTM_IS_TAKEN_MATERIAL]
GO
ALTER TABLE [dbo].[PROJECTMATERIALREQUEST]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTM_HAVE_URGENCYL] FOREIGN KEY([URGENCYLEVEL_ID])
REFERENCES [dbo].[URGENCYLEVEL] ([URGENCYLEVEL_ID])
GO
ALTER TABLE [dbo].[PROJECTMATERIALREQUEST] CHECK CONSTRAINT [FK_PROJECTM_HAVE_URGENCYL]
GO
ALTER TABLE [dbo].[PROJECTMATERIALREQUEST]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTM_MUST_HAVE_PROJECT] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[PROJECT] ([PROJECT_ID])
GO
ALTER TABLE [dbo].[PROJECTMATERIALREQUEST] CHECK CONSTRAINT [FK_PROJECTM_MUST_HAVE_PROJECT]
GO
ALTER TABLE [dbo].[PROJECTMATERIALREQUEST]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTMATERIALREQUEST_MATERIALREQUESTSTATUS] FOREIGN KEY([PROJECTMATERIALREQUESTSTATUS_ID])
REFERENCES [dbo].[PROJECTMATERIALREQUESTSTATUS] ([PROJECTMATERIALREQUESTSTATUS_ID])
GO
ALTER TABLE [dbo].[PROJECTMATERIALREQUEST] CHECK CONSTRAINT [FK_PROJECTMATERIALREQUEST_MATERIALREQUESTSTATUS]
GO
ALTER TABLE [dbo].[PROJECTMATERIALREQUESTLIST]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTM_APPROVAL_PROJECTM] FOREIGN KEY([PROJECTMATERIALREQUEST_ID])
REFERENCES [dbo].[PROJECTMATERIALREQUEST] ([PROJECTMATERIALREQUEST_ID])
GO
ALTER TABLE [dbo].[PROJECTMATERIALREQUESTLIST] CHECK CONSTRAINT [FK_PROJECTM_APPROVAL_PROJECTM]
GO
ALTER TABLE [dbo].[PROJECTMATERIALREQUESTLIST]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTM_IS_IN_MATERIAL] FOREIGN KEY([MATERIAL_ID])
REFERENCES [dbo].[MATERIAL] ([MATERIAL_ID])
GO
ALTER TABLE [dbo].[PROJECTMATERIALREQUESTLIST] CHECK CONSTRAINT [FK_PROJECTM_IS_IN_MATERIAL]
GO
ALTER TABLE [dbo].[REQUEST]  WITH CHECK ADD  CONSTRAINT [FK_REQUEST_MAKES_CLIENT] FOREIGN KEY([CLIENT_ID])
REFERENCES [dbo].[CLIENT] ([CLIENT_ID])
GO
ALTER TABLE [dbo].[REQUEST] CHECK CONSTRAINT [FK_REQUEST_MAKES_CLIENT]
GO
ALTER TABLE [dbo].[SafetyFile]  WITH CHECK ADD  CONSTRAINT [FK_SafetyFile_PROJECT] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[PROJECT] ([PROJECT_ID])
GO
ALTER TABLE [dbo].[SafetyFile] CHECK CONSTRAINT [FK_SafetyFile_PROJECT]
GO
ALTER TABLE [dbo].[SAFETYFILECHECKLIST]  WITH CHECK ADD  CONSTRAINT [FK_SAFETYFI_ATTACH_SAFETYFI] FOREIGN KEY([SAFETYFILEITEM_ID])
REFERENCES [dbo].[SAFETYFILEITEM] ([SAFETYFILEITEM_ID])
GO
ALTER TABLE [dbo].[SAFETYFILECHECKLIST] CHECK CONSTRAINT [FK_SAFETYFI_ATTACH_SAFETYFI]
GO
ALTER TABLE [dbo].[SAFETYFILECHECKLIST]  WITH CHECK ADD  CONSTRAINT [FK_SAFETYFI_KEEPS_PROJECT] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[PROJECT] ([PROJECT_ID])
GO
ALTER TABLE [dbo].[SAFETYFILECHECKLIST] CHECK CONSTRAINT [FK_SAFETYFI_KEEPS_PROJECT]
GO
ALTER TABLE [dbo].[SAFETYFILEITEM]  WITH CHECK ADD  CONSTRAINT [FK_SAFETYFILEITEM_SAFETYITEMCATEGORY] FOREIGN KEY([SAFETYITEMCATEGORY_ID])
REFERENCES [dbo].[SAFETYITEMCATEGORY] ([SAFETYITEMCATEGORY_ID])
GO
ALTER TABLE [dbo].[SAFETYFILEITEM] CHECK CONSTRAINT [FK_SAFETYFILEITEM_SAFETYITEMCATEGORY]
GO
ALTER TABLE [dbo].[STOCKTAKE]  WITH CHECK ADD  CONSTRAINT [FK_STOCKTAK_CONDUCTS_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[STOCKTAKE] CHECK CONSTRAINT [FK_STOCKTAK_CONDUCTS_USER]
GO
ALTER TABLE [dbo].[SUPPLIER]  WITH CHECK ADD  CONSTRAINT [FK_SUPPLIER________HA_SUPPLIER] FOREIGN KEY([SUPPLIERTYPE_ID])
REFERENCES [dbo].[SUPPLIERTYPE] ([SUPPLIERTYPE_ID])
GO
ALTER TABLE [dbo].[SUPPLIER] CHECK CONSTRAINT [FK_SUPPLIER________HA_SUPPLIER]
GO
ALTER TABLE [dbo].[SUPPLIERMATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_SUPPLIERMATERIAL_MATERIAL] FOREIGN KEY([MATERIAL_ID])
REFERENCES [dbo].[MATERIAL] ([MATERIAL_ID])
GO
ALTER TABLE [dbo].[SUPPLIERMATERIAL] CHECK CONSTRAINT [FK_SUPPLIERMATERIAL_MATERIAL]
GO
ALTER TABLE [dbo].[SUPPLIERMATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_SUPPLIERMATERIAL_SUPPLIER] FOREIGN KEY([SUPPLIER_ID])
REFERENCES [dbo].[SUPPLIER] ([SUPPLIER_ID])
GO
ALTER TABLE [dbo].[SUPPLIERMATERIAL] CHECK CONSTRAINT [FK_SUPPLIERMATERIAL_SUPPLIER]
GO
ALTER TABLE [dbo].[SUPPLIERMATERIALORDER]  WITH CHECK ADD  CONSTRAINT [FK_SUPPLIERMATERIALORDER_MATERIAL] FOREIGN KEY([MATERIAL_ID])
REFERENCES [dbo].[MATERIAL] ([MATERIAL_ID])
GO
ALTER TABLE [dbo].[SUPPLIERMATERIALORDER] CHECK CONSTRAINT [FK_SUPPLIERMATERIALORDER_MATERIAL]
GO
ALTER TABLE [dbo].[SUPPLIERMATERIALORDER]  WITH CHECK ADD  CONSTRAINT [FK_SUPPLIERMATERIALORDER_ORDERLINE] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[ORDERLINE] ([Order_ID])
GO
ALTER TABLE [dbo].[SUPPLIERMATERIALORDER] CHECK CONSTRAINT [FK_SUPPLIERMATERIALORDER_ORDERLINE]
GO
ALTER TABLE [dbo].[TASK]  WITH CHECK ADD  CONSTRAINT [FK_TASK___________TASKTYPE] FOREIGN KEY([TASKTYPE_ID])
REFERENCES [dbo].[TASKTYPE] ([TASKTYPE_ID])
GO
ALTER TABLE [dbo].[TASK] CHECK CONSTRAINT [FK_TASK___________TASKTYPE]
GO
ALTER TABLE [dbo].[TASK]  WITH CHECK ADD  CONSTRAINT [FK_TASK_PROJECT] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[PROJECT] ([PROJECT_ID])
GO
ALTER TABLE [dbo].[TASK] CHECK CONSTRAINT [FK_TASK_PROJECT]
GO
ALTER TABLE [dbo].[TASKMATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_TASKMATE___________MATERIAL] FOREIGN KEY([MATERIAL_ID])
REFERENCES [dbo].[MATERIAL] ([MATERIAL_ID])
GO
ALTER TABLE [dbo].[TASKMATERIAL] CHECK CONSTRAINT [FK_TASKMATE___________MATERIAL]
GO
ALTER TABLE [dbo].[TASKMATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_TASKMATE__HAS_TASK] FOREIGN KEY([TASK_ID])
REFERENCES [dbo].[TASK] ([TASK_ID])
GO
ALTER TABLE [dbo].[TASKMATERIAL] CHECK CONSTRAINT [FK_TASKMATE__HAS_TASK]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_IS_ASSIGN_USERROLE] FOREIGN KEY([USERROLE_ID])
REFERENCES [dbo].[USERROLE] ([USERROLE_ID])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_USER_IS_ASSIGN_USERROLE]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_IS_EMPLOYEE] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_USER_IS_EMPLOYEE]
GO
ALTER TABLE [dbo].[VEHICLE]  WITH CHECK ADD  CONSTRAINT [FK_VEHICLE_ASSIGN_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[VEHICLE] CHECK CONSTRAINT [FK_VEHICLE_ASSIGN_USER]
GO
ALTER TABLE [dbo].[VEHICLE]  WITH CHECK ADD  CONSTRAINT [FK_VEHICLE_HAS__VEHICLET] FOREIGN KEY([VEHICLETYPE_ID])
REFERENCES [dbo].[VEHICLETYPE] ([VEHICLETYPE_ID])
GO
ALTER TABLE [dbo].[VEHICLE] CHECK CONSTRAINT [FK_VEHICLE_HAS__VEHICLET]
GO
ALTER TABLE [dbo].[WAREHOUSEEQUIPMENT]  WITH CHECK ADD  CONSTRAINT [FK_WAREHOUS__CONTAINS_WAREHOUS] FOREIGN KEY([WAREHOUSE_ID])
REFERENCES [dbo].[WAREHOUSE] ([WAREHOUSE_ID])
GO
ALTER TABLE [dbo].[WAREHOUSEEQUIPMENT] CHECK CONSTRAINT [FK_WAREHOUS__CONTAINS_WAREHOUS]
GO
ALTER TABLE [dbo].[WAREHOUSEEQUIPMENT]  WITH CHECK ADD  CONSTRAINT [FK_WAREHOUS_IS_AT_EQUIPMEN] FOREIGN KEY([EQUIPMENT_ID])
REFERENCES [dbo].[EQUIPMENT] ([EQUIPMENT_ID])
GO
ALTER TABLE [dbo].[WAREHOUSEEQUIPMENT] CHECK CONSTRAINT [FK_WAREHOUS_IS_AT_EQUIPMEN]
GO
ALTER TABLE [dbo].[WAREHOUSEEQUIPMENTCHECK]  WITH CHECK ADD  CONSTRAINT [FK_WAREHOUS_CAN___HAV_WAREHOUS] FOREIGN KEY([WAREHOUSE_ID], [EQUIPMENT_ID])
REFERENCES [dbo].[WAREHOUSEEQUIPMENT] ([WAREHOUSE_ID], [EQUIPMENT_ID])
GO
ALTER TABLE [dbo].[WAREHOUSEEQUIPMENTCHECK] CHECK CONSTRAINT [FK_WAREHOUS_CAN___HAV_WAREHOUS]
GO
ALTER TABLE [dbo].[WAREHOUSEEQUIPMENTCHECK]  WITH CHECK ADD  CONSTRAINT [FK_WAREHOUS_HAS_______EQUIPMEN] FOREIGN KEY([EQUIPMENTCHECK_ID])
REFERENCES [dbo].[EQUIPMENTCHECK] ([EQUIPMENTCHECK_ID])
GO
ALTER TABLE [dbo].[WAREHOUSEEQUIPMENTCHECK] CHECK CONSTRAINT [FK_WAREHOUS_HAS_______EQUIPMEN]
GO
ALTER TABLE [dbo].[WAREHOUSEEQUIPMENTWRITEOFF]  WITH CHECK ADD  CONSTRAINT [FK_WAREHOUS_CAN_CONTA_WRITEOFF] FOREIGN KEY([WRITEOFF_ID])
REFERENCES [dbo].[WRITEOFF] ([WRITEOFF_ID])
GO
ALTER TABLE [dbo].[WAREHOUSEEQUIPMENTWRITEOFF] CHECK CONSTRAINT [FK_WAREHOUS_CAN_CONTA_WRITEOFF]
GO
ALTER TABLE [dbo].[WAREHOUSEEQUIPMENTWRITEOFF]  WITH CHECK ADD  CONSTRAINT [FK_WAREHOUS_CAN_HAVE_WAREHOUS] FOREIGN KEY([WAREHOUSE_ID], [EQUIPMENT_ID])
REFERENCES [dbo].[WAREHOUSEEQUIPMENT] ([WAREHOUSE_ID], [EQUIPMENT_ID])
GO
ALTER TABLE [dbo].[WAREHOUSEEQUIPMENTWRITEOFF] CHECK CONSTRAINT [FK_WAREHOUS_CAN_HAVE_WAREHOUS]
GO
ALTER TABLE [dbo].[WAREHOUSEMATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_WAREHOUSEMATERIAL_MATERIAL] FOREIGN KEY([MATERIAL_ID])
REFERENCES [dbo].[MATERIAL] ([MATERIAL_ID])
GO
ALTER TABLE [dbo].[WAREHOUSEMATERIAL] CHECK CONSTRAINT [FK_WAREHOUSEMATERIAL_MATERIAL]
GO
ALTER TABLE [dbo].[WAREHOUSEMATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_WAREHOUSEMATERIAL_WAREHOUSE] FOREIGN KEY([WAREHOUSE_ID])
REFERENCES [dbo].[WAREHOUSE] ([WAREHOUSE_ID])
GO
ALTER TABLE [dbo].[WAREHOUSEMATERIAL] CHECK CONSTRAINT [FK_WAREHOUSEMATERIAL_WAREHOUSE]
GO
ALTER TABLE [dbo].[WAREHOUSEMATERIALSTOCKTAKE]  WITH CHECK ADD  CONSTRAINT [FK_WAREHOUS_IS_CONDUC_STOCKTAK] FOREIGN KEY([STOCKTAKE_ID])
REFERENCES [dbo].[STOCKTAKE] ([STOCKTAKE_ID])
GO
ALTER TABLE [dbo].[WAREHOUSEMATERIALSTOCKTAKE] CHECK CONSTRAINT [FK_WAREHOUS_IS_CONDUC_STOCKTAK]
GO
ALTER TABLE [dbo].[WAREHOUSEMATERIALWRITEOFF]  WITH CHECK ADD  CONSTRAINT [FK_WAREHOUS_HAVE______WRITEOFF] FOREIGN KEY([WRITEOFF_ID])
REFERENCES [dbo].[WRITEOFF] ([WRITEOFF_ID])
GO
ALTER TABLE [dbo].[WAREHOUSEMATERIALWRITEOFF] CHECK CONSTRAINT [FK_WAREHOUS_HAVE______WRITEOFF]
GO
ALTER TABLE [dbo].[WRITEOFF]  WITH CHECK ADD  CONSTRAINT [FK_WRITEOFF_HAS_TO_WRITEOFF] FOREIGN KEY([WRITEOFFREASON_ID])
REFERENCES [dbo].[WRITEOFFREASON] ([WRITEOFFREASON_ID])
GO
ALTER TABLE [dbo].[WRITEOFF] CHECK CONSTRAINT [FK_WRITEOFF_HAS_TO_WRITEOFF]
GO
USE [master]
GO
